@use "../../assets/styles/mixins" as mixin;

.profile {
  padding: 48px;
  box-shadow: 0px 0px 25px -10px rgba(70, 96, 187, 19.86);
  background-color: var(--white);
  border-radius: 15px;
  @include mixin.sm-lt {
    padding: 32px 24px;
  }
}

.image {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  margin-right: 37px;
  overflow: hidden;
  @include mixin.sm-lt {
    display: none;
  }
}
