@use "../../assets/styles/mixins" as mixin;

.profile {
  padding: 48px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-inside);
  border-radius: 15px;
  @include mixin.sm-lt {
    padding: 32px 24px;
  }
}

.image {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  margin-right: 37px;
  overflow: hidden;
  @include mixin.sm-lt {
    display: none;
  }
}
