@use "../../assets/styles/mixins" as mixin;

.SearchBar {
  margin-bottom: 24px;
  height: 69px;
  background-color: var(--background-color-inside);
  border-radius: 15px;
  position: relative;

  box-shadow: var(--box-shadow);

  img {
    margin: 0 32px 0;
  }
  input {
    all: unset;
    width: 70%;
    color: var(--input);
  }
  button {
    position: absolute;
    right: 10px;
    top: 9.5px;
    color: var(--white);
    background-color: var(--blue);
    padding: 12.5px 24px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    height: 50px;
    width: 106px;
    cursor: pointer;
    &:active {
      opacity: 0.75;
    }
  }
}
p {
  font-size: 18px;
  color: red;
}

@include mixin.sm-lt {
  .SearchBar {
    height: 60px;
    margin-bottom: 16px;

    input {
      width: 57%;
      font-size: 13px;
    }

    img {
      margin-bottom: 24px;
      margin: 0 12px 0 16px;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    ::placeholder {
      font-size: 13px;
      color: var(--placeholder);
    }
    button {
      height: 46px;
      width: 74px;
      padding: 12.5px;
      font-size: 14px;
      right: 7px;
      top: 7.5px;
    }
  }
}
