@use "../../assets/styles/mixins" as mixin;

.stats {
  gap: 90px;
  width: 100%;
  height: 85px;
  border-radius: 10px;
  background-color: var(--background-color);

  margin-bottom: 37px;
  .stat {
    margin-left: 32px;
    h4 {
      font-size: 13px;
      color: var(--stats);
    }
    h5 {
      font-size: 22px;
      font-weight: bold;
      margin: 0;
      color: var(--text-color-title);
    }
  }
  @include mixin.sm-lt {
    gap: 20px;
    justify-content: center;
    margin-bottom: 24px;
    .stat {
      margin-left: 0;
      h4 {
        font-weight: 400;
        font-size: 11px;
      }
      h5 {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
